@charset "utf-8";

html, body {padding: 0; margin: 0; font-family: 'S-CoreDream-4',sans-serif; text-align: center;}

body * {box-sizing: border-box;}
body ul {list-style: none; padding: 0; margin: 0;}
body a {display: block; text-decoration: none; color: #343434;}
img {vertical-align: top;}


/*  gototop 버튼  */
.topBtn {width: 40px;height: 40px; border: 1px solid #444; display: flex; justify-content: center; align-items: center; position: fixed; bottom: 20px; right: 20px; z-index: 2; cursor: pointer;}
.topBtn img { width: 20px;}
/* header */
/* pc */
header .pc_head {position: relative; z-index: 5; display: none}
header .pc_head h1 {width: 160px; position: absolute; top: 0px; left: 50%; transform: translate(-50%,0); }
header .pc_head h1 img {width: 160px;}
header .pc_head #gnb1 {display: flex; align-items: center; justify-content: space-around; position: absolute; top: 20px; right: 40px; font-size: 14px;}
header .pc_head #gnb1 li {display: flex; align-items: center;}
header .pc_head #gnb1 li a {margin:0 10px;}
header .pc_head #gnb1 li .box {background-color: #09498D; color: #fff; width: 25px; height:25px; text-align: center; line-height: 25px; border-radius: 50%; margin-left: 5px;}

/* mobile */
header .mo_head { width:100%;display: flex; justify-content: space-between; align-items: center; padding: 28px 20px 22px; position: fixed; top: 0; left: 0; z-index: 5; height: 80px;}
header .mo_head.active {height: 80px; background-color: #fff;}
header .mo_head h1 {width: 140px; margin: 0;}
header .mo_head h1 img {width: 140px;}
header .mo_head img {cursor: pointer;}

/* mobile_menu */
.opacity {position: fixed; top: 0; left: 0; width: 100%; height: 100%; display: none; z-index: 5;}
header .mo_menu {width: 70%; height: 100vh; background-color: #fff; padding: 80px 15px; position: fixed; top:0; left: -70%; border-right: 1px solid #444; z-index: 9; text-align: left;}
header .mo_menu .closeBtn {position: absolute; top: 30px; left: 10px; cursor: pointer;}

header .mo_menu #mo_nav > li {position: relative; width: 80%;}
header .mo_menu #mo_nav > li .menu_subBtn  {position: absolute; top: 0px; right: -10%;}
header .mo_menu #mo_nav > li .menu_subBtn img  {width: 14px;}

header .mo_menu #mo_nav li {margin: 20px 0;}
header .mo_menu #mo_nav .sub_nav {margin: 0 20px; display: none;}
header .mo_menu #mo_nav a:active {color: #09498D;}
header .mo_menu .menu_box {position: absolute; width: 100%; bottom: 0; left: 0; border-top: 1px solid #444;}
header .mo_menu .menu_box #gnb2 {display: flex; font-size: 14px;height: 65px; align-items: center; justify-content: space-around;}
header .mo_menu .menu_box li {display: flex;align-items: center;}
header .mo_menu .menu_box li .box {background-color: #09498D; color: #fff; width: 25px; height:25px; text-align: center; line-height: 25px; border-radius: 50%; margin-left: 5px;}
header .mo_menu .menu_box a {margin: 0;}

/* pc_menu */
header #pc_nav {display: none; width: fit-content; position: absolute; top: 85px; left: 0; right: 0; margin: auto; text-align: center; z-index: 5; }
header #pc_nav > li > a {width: 120px;color: #fff; margin-bottom: 10px;}
header #pc_nav .sub_nav {background-color: rgba(255, 255, 255, 0.5); display: none; }
header #pc_nav .sub_nav a {font-size: 14px; padding: 10px 0;}
header #pc_nav .sub_nav a:hover {color: #09498D;}


/* 메인 슬라이드 */

.container .main .slide_img li {width: 100%; height: 100vh; text-align: center; color: #fff; display: flex;}

.container .main .slide_img .img1 {background: url(images/main_1-2.png) 50% no-repeat;background-size: cover;}
.container .main .slide_img .img2 {background: url(images/main_2-2.png) 50% no-repeat; background-size: cover;}
.container .main .slide_img .img3 {background: url(images/main_3-2.png) 50% no-repeat; background-size: cover;}
.container .main .slide_img .img1 {justify-content: center; align-items: center;}
.container .main .slide_img .img1 .txt h2 {font-size: 58px; font-family: 'S-CoreDream-6',sans-serif; text-shadow: 1px 1px 1px #444;}
.container .main .slide_img .img1 .txt p {font-size: 18px;text-shadow: 1px 1px 1px #444;}
.container .main .slide_img .img2 {justify-content: center;}
.container .main .slide_img .img2 .txt h2{font-size: 40px; margin-top: 25vh; color: #09498D;}
.container .main .pc {display: none;}
.container .main .siwper-pagination {position: absolute; z-index: 3;}


/* collection */
.collection .img_1 {position: relative;text-align: center; margin: 60px auto 50px ;}
.collection .img_1 img {width: 95%;}
.collection .img_1 h2 {position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); width: 60%; color: #fff; font-family: 'S-CoreDream-6',sans-serif;}
.collection .txt {margin: 50px 45px; font-size: 13px; text-align: left;}
.collection .txt h3 {font-size: 24px; font-family: 'S-CoreDream-5',sans-serif;}
.collection .txt p {margin: 8px 0;}
.collection .txt a {text-decoration: underline; margin: 22px 0 50px; color: #444;}
.collection .img_2 img {width: 100%;}

/* best */
.best {padding: 80px 0;}
.best h3 {margin: 0 0 32px ;}
.best .grid {display: grid; grid-template:repeat(3,auto)/repeat(2,1fr); padding:
0 2px; gap: 4px;}

.product .img {width: 100%; height:0; padding-bottom: 133%; background-color: #444; cursor: pointer;}
.product p {font-size: 12px; margin: 0;}
.product #product {font-family: 'S-CoreDream-5',sans-serif;margin: 18px 0 3px;}
.product #price {font-family: 'S-CoreDream-5',sans-serif; color: #09498D; margin: 5px 0 22px;}

.best .product .img_1 {background: url(images/best_1.png) 50% 50% no-repeat; background-size: contain;}
.best .product .img_2 {background: url(images/best_2.png) no-repeat;background-size: contain;}
.best .product .img_3 {background: url(images/best_3.png) no-repeat;background-size: contain;}
.best .product .img_4 {background: url(images/best_4.png) no-repeat;background-size: contain;}
.best .product .img_5 {background: url(images/best_5.png) no-repeat;background-size: contain;}
.best .product .img_6 {background: url(images/best_6.png) no-repeat;background-size: contain;}


.divide > div {width: 100%; height: 0; padding-bottom: 85%; position: relative; cursor: pointer;}
.divide h3 {width:100%; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); color: #fff; font-family: 'S-CoreDream-6',sans-serif; font-size: 26px; letter-spacing: 10px;text-shadow: 3px 3px 3px #444;}
.divide .woman {background: url(images/woman.gif) 50% 50% no-repeat; background-size: cover;}
.divide .man {background: url(images/man.gif) 50% 50% no-repeat; background-size: cover;}
.divide .border {width: 100%; height: 0; padding-bottom: 85%; position: absolute; top: 0; left: 0; box-shadow: 0px 0px 0px 30px #305A80 inset;}

/* 추천 */
.recommend {padding: 80px 0;}
.recommend h3 {margin: 0 0 32px ;}
.recommend .grid {display: grid; grid-template:repeat(4,auto)/repeat(2,1fr); padding:
    0 2px; gap: 4px;}
.recommend .product .img_1 {background: url(images/recomm_1.png) 50% 50% no-repeat; background-size: contain;}
.recommend .product .img_2 {background: url(images/recomm_2.png) 50% 50% no-repeat; background-size: contain;}
.recommend .product .img_3 {background: url(images/recomm_3.png) 50% 50% no-repeat; background-size: contain;}
.recommend .product .img_4 {background: url(images/recomm_4.png) 50% 50% no-repeat; background-size: contain;}
.recommend .product .img_5 {background: url(images/recomm_5.png) 50% 50% no-repeat; background-size: contain;}
.recommend .product .img_6 {background: url(images/recomm_6.png) 50% 50% no-repeat; background-size: contain;}
.recommend .product .img_7 {background: url(images/recomm_7.png) 50% 50% no-repeat; background-size: contain;}
.recommend .product .img_8 {background: url(images/recomm_8.png) 50% 50% no-repeat; background-size: contain;}

/* contact */
.join {width: 100%; background: url(images/join.png) 50% 50% no-repeat; background-size: cover;display: flex; flex-direction: column; align-items: center; justify-content: center; color: #fff;}

.join .txt {margin: 50px;}
.join .txt h2 {font-family: 'S-CoreDream-6',sans-serif; font-size: 26px; margin:
    0;margin-bottom: 15px; letter-spacing: 5px;}
.join .txt p {margin: 8px auto;}

.join .txt .box {display: flex; justify-content:space-between; align-items: center; width: 100%; border: 1px solid #fff; margin: 8px auto;padding: 13px 15px;}
.join .txt .join_us { margin-top: 15px;}
.join .txt .box p {margin: 0;}
.join .txt .box div {width: 12px; height: 12px; background: url(images/join_btn.png) 50% 50% no-repeat; background-size: contain;}
.join .txt .box:hover {background-color:#fff;}
.join .txt .box:hover p {color: #09498D; font-weight: bold;}
.join .txt .box:hover div {background: url(images/join_btn-2.png) 50% 50% no-repeat;}

/* footer */
footer {margin: 80px 0 60px; font-family: 'Noto Sans KR', -apple-system,"Malgun Gothic","맑은 고딕",helvetica,"Apple SD Gothic Neo",sans-serif; font-size: 14px;}
footer .footer_menu {margin-bottom: 20px;}
footer ul {display: flex; margin: 0 auto; flex-wrap: wrap; justify-content: center;}
footer ul li {margin: 5px 10px; display: flex;}
footer ul li a {margin-left: 10px;}
footer .sns {width:60px; margin: 30px auto; display: flex; justify-content: space-between; }
footer .sns .facebook a {width: 15px; height:15px; background: url(images/facebook-f-brands.png) 50% 50% no-repeat; background-size: contain;}
footer .sns .insta a {width: 15px; height:15px; background: url(images/instagram-brands.png) 50% 50% no-repeat; background-size: contain;}

@media (min-width:1024px) {
    /*  gototop 버튼  */
    .topBtn {border: 1px solid #707070;}
    /* header */
    /* pc */
    header .pc_head {display: block;}
    /* mobile */
    header .mo_head {display: none;}
    /* pc_menu */
    header #pc_nav {display: flex;}

    /* 메인 슬라이드 */
    .container .main .slide_img li {height: 888px;}
    .container .main .slide_img .img1 {background: url(images/main_1.png) 50% no-repeat;background-size: cover;}
    .container .main .slide_img .img2 {background: url(images/main_2.png) 50% no-repeat; background-size: cover;}
    .container .main .slide_img .img3 {background: url(images/main_3.png) 50% no-repeat; background-size: cover;}
    .container .main .slide_img .img1 .txt h2 {font-size: 72px;}
    .container .main .slide_img .img1 .txt p {font-size: 24px}
    
    .container .main .slide_img .img2 .txt h2{font-size: 68px; margin-top: 250px; }
    .container .main .pc {display: block; color: #343434;}

    /* collection */
    .collection { width:83%; height:685px;
        max-width: 1200px; margin: 150px auto; display: grid; grid-template: 40% 60%/ 1fr 1fr;}
        /*  grid-template-areas:"A B""A C"; */

    .collection .img_1 {grid-row: 1/3; grid-column: 1/2; margin: 0;}
    .collection .img_1 img {width: 100%; }
    .collection .img_1 h2 {font-size: 38px; width: 100%;}
    .collection .txt {margin: 0; margin: 80px 0 0 20%; font-size: 14px;}

    .collection .img_2 {grid-row: 2/3; grid-column: 2/3; text-align: right;}
    .collection .img_2 img {width: 80%;}

    /* best */
    .best {padding: 0 ;}
    .best h3 {margin: 0 0 50px ;}
    .best .grid {width:80%; max-width: 1180px; margin: 0 auto; grid-template:repeat(2,auto)/repeat(3,1fr); }
    /* padding:auto; gap: auto;place-content: space-between space-between; */

    .product .img {width: 270px; height:360px; padding-bottom: 0; margin: 0 auto;}
    .product p {font-size: 14px;}
    .product #product {margin: 18px 0 5px;}
    .product #color {font-size: 12px; color: #707070;}
    .product #price { margin: 10px 0 70px;}

    .best .product .img_1:hover {background: url(images/best_1-2.png) 50% 50% no-repeat; background-size: contain;}
    .best .product .img_2:hover {background: url(images/best_2-2.png) no-repeat;background-size: contain;}
    .best .product .img_3:hover {background: url(images/best_3-2.png) no-repeat;background-size: contain;}
    .best .product .img_4:hover {background: url(images/best_4-2.png) no-repeat;background-size: contain;}
    .best .product .img_5:hover {background: url(images/best_5-2.png) no-repeat;background-size: contain;}
    .best .product .img_6:hover {background: url(images/best_6-2.png) no-repeat;background-size: contain;}

    /* divide */
    .divide {display: grid; grid-template-columns: 1fr 1fr;}
    .divide h3 { font-family: 'S-CoreDream-5',sans-serif; font-size: 42px; }
    .divide .woman {background: url(images/woman.png) 50% 50% no-repeat; background-size: cover;}
    .divide .man {background: url(images/man.png) 50% 50% no-repeat; background-size: cover;}
    .divide .woman:hover {background: url(images/woman.gif) 50% 50% no-repeat; background-size: cover;}
    .divide .man:hover {background: url(images/man.gif) 50% 50% no-repeat; background-size: cover;}
    .divide .border {box-shadow: 0px 0px 0px 50px #305A80 inset;}

    /* 추천 */
    .recommend {padding: 80px 0;}
    .recommend h3 {margin: 0 0 50px ;}
    .recommend .grid {width:90%; max-width: 1300px; margin: 0 auto;  grid-template:repeat(2,auto)/repeat(4,1fr); padding:auto; gap: auto;place-content: space-between space-between;}
    .recommend .product {position: relative; overflow: hidden;}

    .recommend .product .img {width: 280px; height:370px; padding-bottom: 0; margin: 0 auto;}

    .recommend .product .txt {width: 280px; height:370px; margin: 0 20px; color:#fff;background-color: rgba(68, 68, 68, 0.5); padding: 130px 0; display: flex; flex-direction: column; justify-content: space-between; position: absolute; top:-370px;left:0; }

    .recommend .product #product {color:#fff; font-size: 18px; margin: 0;}
    .recommend .product #color {color:#fff; font-size: 16px;}
    .recommend .product #price {color:#fff;margin: 0 auto; font-size: 18px;}

    .join {width: 83%; height:500px; max-width: 1200px; margin: 200px auto 100px;}
    .join .txt {margin: 0;}
    .join .txt h2 {font-size: 32px;}
    .join .boxBtn {display: flex;}
    .join .txt .box {width: 200px;margin: 8px;}


    /* footer */
    footer .footer_menu {margin-bottom: 25px;}
    footer ul {width:60%}

/* footer {margin: 80px 0 60px; font-family: 'Noto Sans KR', -apple-system,"Malgun Gothic","맑은 고딕",helvetica,"Apple SD Gothic Neo",sans-serif; font-size: 14px;}
footer .footer_menu {margin-bottom: 20px;}
footer ul {display: flex; margin: 0 auto; flex-wrap: wrap; justify-content: center;}
footer ul li {margin: 5px 10px;}
footer .sns {width:60px; margin: 30px auto; display: flex; justify-content: space-between; }
footer .sns .facebook a {width: 15px; height:15px; background: url(images/facebook-f-brands.png) 50% 50% no-repeat; background-size: contain;}
footer .sns .insta a {width: 15px; height:15px; background: url(images/instagram-brands.png) 50% 50% no-repeat; background-size: contain;} */



}
    
