@charset "utf-8";

body {margin: 0; padding: 0; background: #E6E2DD url(images/paper-texture-wide.png) no-repeat; background-attachment: fixed; background-size: 100%; font-family: 'S-CoreDream-4',sans-serif; color: #343434;}

body * {box-sizing: border-box;}
body a {display: block; text-decoration: none; color: #343434;}

/* header */
header .pc {width: 80%; display: none; margin: 60px auto; justify-content: space-between; align-items: center; color: #636363;}
header .pc .box {font-size: 14px;height: 45px; border-top: 1px solid #000; border-bottom: 1px solid #707070; width: 45%; padding: 0 14px;}
header .pc .box2 {text-align: right;}
header .pc .logo img {width: 58px;}

header .mobile {width: 90%; height: 45px;font-size: 11px; display: flex; justify-content: space-between; align-items: center; border: 1px solid #343434; }
header > .mobile {position: fixed; top: 20px; left: 50%; transform: translate(-50%,0); z-index: 10;background-color: #E6E2DD;}
header .mobile .logo a {width:45px; height: 45px; display: flex; align-items: center; justify-content: center;}
header .mobile .logo .img {width: 30px;height: 30px; background: url(images/logo.png); background-size: cover;}
header .mobile .line {height: 50%; border-left: 1px solid #343434;}

header .mobile .txt {width: 70%; height: 45px; padding: 10px 5px;display: flex; flex-direction: column; justify-content: space-between;}
header .mobile .txt p {margin: 0;}
header .mobile .txt p:last-of-type {text-align: right;}
header .mobile .menubtn {width:45px; height: 45px;display: flex; align-items: center; justify-content: center; background-color: #343434; box-shadow: 5px 5px #707070; cursor: pointer;}

/* menu */
.menu {position: fixed; top: 0;left: 0; width: 100%; height: 100%; z-index: 11; background-color: #252525; color: #E6E2DD;display: none;}
.menu .mobile {border: none; margin: 20px auto 150px; border: 1px solid #E6E2DD; border-right: none;}
.menu .mobile .line {border: 1px solid #E6E2DD;}
.menu .mobile .logo {width:45px; height: 45px;}
.menu .mobile .logo .img {background: url(images/logo_menu.png); background-size: cover;}
.menu .box {border-top: 1px solid #E6E2DD; border-bottom: 1px solid #E6E2DD;margin: 0px auto; position: relative;text-align: center;}
.menu .box a {color: #E6E2DD;}

.container .menu .home .main {font-size: 32px;}
.container .menu .home a {background-color: #E6E2DD; color: #252525;}
.menu .home a:hover,.menu .home a:active {background-color: #343434; color: #E6E2DD;}

.menu .abou a:hover,.menu .abou a:active {background-color: #a78bb8}
.menu .proj a:hover,.menu .proj a:active {background-color: #91acc2}
.menu .cont a:hover,.menu .cont a:active {background-color: #a7a7a7}
.menu .box .main {margin: 0;font-family: 'S-CoreDream-7',sans-serif; font-size: 28px; padding: 20px 0;}
.menu .box .num {font-size: 10px; position: absolute; top: 10px; left: 5px;margin: 0;}

/* title */
.title_box {overflow: hidden; width: 100%;}
.title {text-align: center; margin: 109px 0 45px; white-space: nowrap;}
.title img {width: 95%; display: inline-block;}

/* nav */
.pc {width: 500px; margin: 0 auto; display: none; margin-bottom: 45px;}
nav ul {margin: 0; padding: 0; list-style: none; display: flex; justify-content: space-between; font-size: 16px;}
nav a {  color: #707070; position: relative;}
/*font-family: 'S-CoreDream-6',sans-serif; nav a:hover {text-decoration: line-through;}*/
nav a::before {content: ""; width:0%; height: 0.5px; transition: 0.5s; position: absolute; top:50%; left:50%; transform: translate(-50%,-50%); background-color: #444; }
nav a:hover::before {width: 110%;}

.contents {text-align: center;}
.contents h3{font-family: 'S-CoreDream-6',sans-serif; font-size: 10px; color: #707070; letter-spacing: 2.5px;}
/* video */
.video {width: 90%;  margin: 0 auto;}
.video video {width: 100%;}
/* .video iframe {width: 100%; height: fit-content; border: none;} */

/* project */
#project {background-color: #343434; color: #E6E2DD; padding: 30px 0 20px;margin-top: 50px;}
#project h3 {color: #E6E2DD;margin: 0 0 30px;}
#project .box {width: 90%; border: 1px solid #E6E2DD; margin: 0 auto; position: relative; border-bottom: none; overflow: hidden;}
#project .box:last-of-type {border-bottom: 1px solid #E6E2DD;}
#project .box a {color: #E6E2DD;}
#project .box a:hover,#project .box a:active {background-color: #E6E2DD; color: #343434}

/* #project .box:nth-of-type(1) a:hover,#project .box:nth-child(1) a:active {background: url(images/ypelectronic.PNG) no-repeat; background-size: cover; opacity: 0.7; filter: url('#noise');} */

#project .box .main {margin: 0;font-family: 'S-CoreDream-7',sans-serif; font-size: 25px; padding: 20px 0;}
#project .box .num {font-size: 10px; position: absolute; top: 10px; left: 5px;margin: 0;}
#project .box .arrow {font-size: 15px; position: absolute; bottom: 10px; right: 15px;margin: 0;}
#project .last {background-color: #DEDCD9;}
#project .last a {color: #343434; transition: 0.4s; padding-top: 10px;}
#project .last a:hover, #project .last a:active {background-color: #91acc2; color: #DEDCD9; cursor: url(hand.cur), pointer;}



/* about */
#about {padding-top: 50px;}
#about h3 { margin: 0 0 42px;}
#about .top {font-size: 30px; margin: 10px;}
#about .name {font-family: 'S-CoreDream-6',sans-serif; font-size: 25px;}

/* my introduce */
#about .myintro .pic {margin: 40px auto 30px;}
#about .myintro .pic img {width: 190px;}
#about .myintro .pic p {margin: 0; font-size: 12px;}
#about .myintro .txt h4 { text-align: left; width:90%; font-family: 'S-CoreDream-6',sans-serif; padding: 9px 15px; border: 3px solid #343434; margin: 0 auto; font-size: 22px;}
#about .myintro .txt p {width: 90%; margin: 30px auto 60px; text-align: left;}

#about .line_mo {width: 80%; border-top: 1px solid #707070; margin: 0 auto; }
#about .cate {margin: 50px auto 90px;}
#about .cate h4 {margin: 40px auto 20px;font-size: 30px; font-family: 'S-CoreDream-6',sans-serif;}
#about .cate .txt {width: 330px; margin: auto; display: flex; text-align: left;line-height: 1.7;}
#about .cate .date {margin-right: 30px;}
#about .cate  p {margin: 10px 0;}
/* #about .cate .mean {line-height: 1.5;} */

/* #about .cate .skill h3 {font-family: 'S-CoreDream-6',sans-serif; font-size: 30px; margin: 15px auto;}
#about .cate .skill .box {width: 90%; height: 310px; box-shadow: 10px 10px; background-color: #D1CAD5; margin: 0 auto; background:#dad6d2 url(images/trick-mo.png) no-repeat 50% 50%; background-size: contain;}
#about .cate .line {width: 70%; border-bottom: 1px solid #707070; margin: 45px auto 55px;} */
/* 
#about .cate .items {width: 80%; max-width:350px; margin: 0 auto 80px; }
#about .cate .items h4 { font-size: 30px; text-align: left;font-family: 'S-CoreDream-6',sans-serif;text-align: center;}
#about .cate .items .txt {width: 90%; margin: 0 auto;}
#about .cate p {font-size: 16px; text-align: left;}
#about .cate .space {padding-left: 60px;} */


/* contact */
.contact h3 {margin: 40px 0 45px;}
.contact #info {border-bottom: 1px solid #707070;}
.contact #info .name {width:150px; font-family: 'S-CoreDream-6',sans-serif; font-size: 30px; border: 3px solid #707070; margin: 0 auto;}
.contact #info .sub_box{width: -webkit-fit-content;width: -moz-fit-content;width: fit-content; margin: 0 auto;}
.contact #info .sub {display: flex; margin: 30px auto; align-items: center; justify-content: space-between;}
.contact #info .sub img { width: 30px; height: 30px;}
.contact #info .sub p {font-family: 'S-CoreDream-6',sans-serif; font-size: 17px; margin: 0; width: 80%;text-align: left;}
.contact #info .sub:last-of-type {margin-bottom: 60px;}

.contact .skill {border-bottom: 1px solid #707070;padding-bottom: 80px;}
.contact .skill h4 {font-family: 'S-CoreDream-6',sans-serif; font-size: 30px; margin: 45px auto 50px;}
.contact .skill .box {width: 85%; margin:
30px auto; border:1px solid #707070;background-color: #DEDCD9; position: relative; padding: 10px; text-align: left;}
.contact .skill .box h5{font-family: 'S-CoreDream-7',sans-serif; font-size: 18px; position: absolute; top: -15px; left: 20px; margin: 0; background-color: #E6E2DD;padding: 5px;}
.contact .skill .box:last-of-type {margin-bottom: 30px;}

.contact .logo {display: flex;align-items: center; justify-content: center; height: 200px;}
.contact .logo img {width: 120px;}
.contact .logo #logo_nothov {display: none;}

/* footer */
footer {height: 70px; color: #8E8A86; font-size: 12px;background-color: #343434; display: flex; justify-content: center; align-items: center;}


/* pc버전 */
@media (min-width:1024px){

    /* header */
    header .pc {display: flex;}
    header .mobile {display: none;}

    /* title */
    .title {text-align: center; margin: 45px 0 70px; white-space: nowrap;}
    .title img {width: 75%;}

    /* nav */
    .pc {display: block;}

    .contents h3{font-family: 'S-CoreDream-3',sans-serif; font-size: 24px;}

    /* video */
    .video {width: 90%;}
    .video iframe {width: 100%;height: 880px; }

    /*#project */
    #project {padding: 60px 0 110px;margin-top: 180px;}
    #project h3 {margin: 0 0 60px;}
    #project .box {width: 75%;}
    #project .box .main {font-size: 85px; padding: 60px 0 90px;}
    #project .box .num {font-size: 24px;}
    #project .box .arrow {font-size: 50px; bottom: 10px; left: 50%; right:0px; margin: 0; transform: translate(-50%,0);}

    /*#about */
    #about {padding-top: 80px;}
    #about h3 { margin: 0 0 70px;}
    #about p {font-size: 90px; margin: 15px;}
    #about p .mobile {display: none;}
    #about .name {font-size: 90px;}
    /* my introduce */
    #about .myintro {display: flex; width: 75%; margin: 100px auto;}
    #about .myintro .pic {margin: 0;}
    #about .myintro .pic img {width: 490px;}
    #about .myintro .pic p {margin: 5px auto; font-size: 17px;}
    #about .myintro .txt {padding: 40px 0 0 45px;}
    #about .myintro .txt h4 {padding:15px; border: 4px solid #343434; font-size: 35px; margin: 0 }
    #about .myintro .txt p {width:100%; margin:0; text-align: left; font-size: 24px;margin-top: 50px;line-height: 1.4;}

    /* category */
    /* #about .cate {display: flex; width: 80%; margin: 100px auto 150px; justify-content: space-between; align-items: center;} */
    /* #about .cate .skill {width: 65%;}
    #about .cate .skill h3 {font-size: 55px; margin: 50px auto; text-align: left;padding: 0 20px;}
    #about .cate .skill .box {width: 100%; height: 530px; background:#D1CAD5 url(images/trick-pc.png) no-repeat 50% 50%;background-size: contain;}
    #about .cate .line {width: 0; border-bottom: none; border-right: 1px solid #707070; margin: 0 50px; height: 500px;} */
    #about .line_mo {border:none}

    #about .cate {width: 75%; margin: 70px auto; display: flex; justify-content: space-around;}
    #about .cate h4 { font-size: 40px; text-align: left;font-family: 'S-CoreDream-6',sans-serif; margin: 44px 0 ;}
    #about .cate .txt {width: 100%;}
    #about .cate  p {font-size: 22px; text-align: left; margin: 5px 0;}
    #about .cate .space {padding-left: 90px;}
    #about .cate .edu {width: 40%;}
    #about .cate .cert {width: 40%;}
    #about .cate .line_pc {height: 400px; border-right: 1px solid #707070; margin: 50px;}
    /* contact */

    .contact h3 {margin: 0 auto 30px;}
    .contact .gdbox {overflow: hidden;}

    .contact #info {width:30%; height:700px; float: left; border-top: 1px solid #707070; border-bottom: 1px solid #707070; padding: 70px;}
    .contact #info .name {width:100%; font-size: 3vw; border: 3px solid #707070; margin: 30px auto 50px; padding: 10px; display: flex;align-items: center; justify-content: center;}
    .contact #info .sub img { width: 45px; height: 45px;} 
    .contact #info .sub p {font-size: 25px;}
    .contact #info .sub:last-of-type {margin-bottom: 95px;}

    .contact .skill {width:70%; height:1000px; float: right; border: 1px solid #707070; border-right: none;  display: flex; padding: 80px 70px}
    /* grid-area: skill; */
    .contact .skill h4 {font-size: 55px; margin: 0}
    .contact .skill .sub {display:flex; flex-direction: column; padding-left: 50px; justify-content: space-around;}
    .contact .skill .box {width: 100%; padding: 20px;}
    .contact .skill .box h5{ font-size: 2.5vw; top: -35px; left: 20px; padding: 5px;}
    .contact .skill p {font-size: 24px;}
    .contact .skill .box:last-of-type {margin-bottom: 0px;}

    .contact .logo {width:30%; height:300px; float: left;  position: relative;}
    .contact .logo img {width: 180px; position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); }
    .contact .logo #logo_nothov {display: block;}
    .contact .logo #logo_hov {display: none;}

    /* footer */
}
