@charset "utf-8";

html, body {padding: 0; margin: 0; font-family: 'Titillium Web', sans-serif; font-weight: bold; background-color: #fff;}

body * {box-sizing: border-box;}
body ul {list-style: none; padding: 0; margin: 0;}
body a {display: block; text-decoration: none; }
img {vertical-align: top;}

.pc {display: none;}
/* header */
header .logo {position: fixed; top: 25px; left: 30px; z-index: 99;}
header .logo a {display: flex; flex-direction: column;}
header .logo a img {margin-bottom: 10px; width: 48px}
header .logo a #text {position: relative;}

header .menu_btn {padding: 9px 31px 12px 0;position: fixed; top: 25px; right: 30px;z-index: 9999;}
header .menu_btn span,header .menu_btn span::before, header .menu_btn span::after {content: ""; display: inline-block;position: absolute; width: 31px; height: 3px; background-color: #fff; transition: all 300ms ease-in-out; cursor: pointer;}
header .menu_btn span::before {top: -8px;}
header .menu_btn span::after {bottom: -8px;}
header .active span {background-color: transparent !important;}
header .active span::before {top: 0; transform: rotate(45deg); background-color: #000 !important;}
header .active span::after {top: 10px; transform: translatey(-10px) rotate(-45deg); background-color: #000 !important;}
header .white span,header .white span::before,header .white span::after {background-color: #000;}

header nav {position: fixed; top: 0; left: 0; height: 100%; width: 100%; z-index: 100; background-color: #fff; display: none; border: #ffde00 solid 8px; animation: navBorder 0.8s ease;}
header .nav_active{display: block;}
@keyframes navBorder {
	0% {border-width: 0px;}
	100% {border-width: 8px;}
}
header nav .menu {position: absolute; top: 50%; left: 16.666%; transform: translate(0,-60%);}
header nav .menu li {width: 200px;}
header nav .menu li a {width: 100%; font-style: italic; font-size: 50px; line-height: 65px; color: #000;background: linear-gradient(to right, #ffde00, #ffde00 50%, #000 50%); background-position: 100%; transition: background-position 500ms ease; -webkit-background-clip: text; -webkit-text-fill-color: transparent; background-size: 200% 100%;}
header nav .menu li a:hover {background-position: 0 100%;}
header nav .link {position: absolute; bottom: 17%; left: 16.666%;}
header nav .link li a {font-size: 14px; color: #000; line-height: 25px; display: flex; align-items: center;}
header nav .link li a img {width: 8px;margin-left: 5px;}
header nav p {position: absolute; bottom: 10%; left: 16.666%; font-size: 12px; font-weight: normal;}

/* sub_btn */
.sub_btn {width: 53px; height: 170px; position: fixed; left: 0; top: 50%; transform: translate(0,-50%); z-index: 999;}
.sub_btn a {width: 100%; height: 100%; background-color: #000; display: flex; flex-direction: column;justify-content: space-between; align-items: center; color: #fff;}
.sub_btn #w {font-size: 24px; margin: 0; margin-top: 10px;}
.sub_btn #rotate {transform: rotate(-90deg); padding-left: 50px; font-weight: normal;}

/* fix_bar */
.fix_bar {position: fixed; width: 100%; height: 46px; bottom: 0; z-index: 10; padding: 0 30px; display: flex; background-color: rgba(0, 0, 0, 0);}
/* transition: 0.4s; */

.fix_bar .line {width: calc( 100% ); height: 6px; background-color: #fff;}
/*  calc( 100% - 102px ); */
.fix_bar .brochure {width: 102px; height: 40px;position: relative; top: -17px; display: none; cursor: pointer;}

.fix_bar .brochure p {margin: 0;font-size: 20px; text-align: right; color: #fff;}
.fix_bar .brochure .hide { position: absolute; top: 500px; left: -50%;}
.fix_bar .brochure .hide .circle {position: relative;}
.fix_bar .brochure .hide .circle img {animation:  circletxt 7.5s infinite linear 0.3s;}

@keyframes circletxt {
    0%{transform: rotate(0);}
    100%{transform: rotate(360deg);}
}
.fix_bg {background-color: #fff;}
.white_2 .line {background-color: #000;}
.white_2 .brochure p {color: #000; }
.fix_bar .brochure .hide .download {background: url(images/speechbubble.svg) no-repeat; background-size: contain;width: 151px; height: 102px;font-style: italic; font-size: 18px; position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);}
.fix_bar .brochure .hide .download p {color: #000; text-align: center;text-decoration: underline; line-height: 82px;}

/* intro */
.intro.top {height: 100vh; position:relative; width: 100%; overflow: hidden;}
.intro.top .video_box {height: 100%;}
.intro.top video {height: 100% !important; display: block;}
/* .intro_box {overflow: hidden; height: 100%;} */
.intro.top .opacity {opacity: 0;} 
    .intro.top .section-wrap {position: fixed;margin: 0; bottom: 46px; overflow: hidden; width: 100%; height: 200px; z-index: 0; transition: transform .5s;} 

    .intro.top .section-wrap .text {padding: 0 30px;}
    .intro.top .section-wrap .text p {font-size: 60px; color: #fff; margin: 0; letter-spacing: -0.5px;line-height: 55px;}

/* contents */
.contents {position: relative; z-index: 1; background-color: #fff;}

/* second */
.second{overflow:hidden; padding-bottom: 100px; position: relative; width: 100%;}
.second .section-wrap { overflow:hidden; width:100%; margin: 0; height:200px; position: absolute; top: 0; min-height: 500px; }
.section-wrap .text {padding: 0 30px;}
.section-wrap .text p {font-size: 60px; color: #000; margin: 0; letter-spacing: -0.5px;line-height: 55px;}
.section-wrap .text .yellow {margin-top: 26px; color: #ffde00; font-style: italic;}
.section-wrap .message-wrap {position: relative; }
.section-wrap .message-wrap p {color: #ffde00; font-style: italic; position: absolute; left: 0; top: 0; overflow: hidden; width: 0; display: none; height: 55px;}
.section-wrap .message-wrap i {color: #000;font-style: normal;}
.section-wrap .message-wrap .active {display: block;}

.intro.top.escape .section-wrap {z-index:-1;}
.intro.top.escape .section-wrap .text{visibility: hidden;}
.intro.second.escape .section-wrap{position:static; animation-fill-mode: forwards;}

@-webkit-keyframes textescape {
	0%  {padding-top:0;}
	100%{padding-top:189px;}
}
@keyframes textescape {
	0%  {padding-top:0;}
	100%{padding-top:189px;}
}

/* .intro{position:relative;width:100%;box-sizing:border-box;}
.intro.top{overflow: hidden;height: 100vh;background-color: #000;}
.intro.second{overflow:hidden;padding-bottom: 288px;min-height: 500px;}
@media only screen and (max-width:640px){
	.intro.bg{background-position:0 0;}
}

.intro .section-wrap{overflow:hidden;width:100%;margin: 0;height:326px;-webkit-transition: transform .5s; -moz-transition	: transform .5s;  -ms-transition: transform .5s;	-o-transition	: transform .5s; transition: transform .5s;}
.intro.second .section-wrap{position:absolute;top:0;}
.intro .text	{max-width:1144px;margin:0 auto;}
.intro .text p{display:block;text-transform: uppercase;font-size: 144px;line-height: 130px;font-weight: bold;}
.intro .text p .for-pc{display: inline-block;}
.intro .text p.emphasis{margin-top: 18px;font-style: italic;color: #ffde00;}
.intro.top .section-wrap{position:fixed;margin:0;bottom:46px;}
.intro.top .text p{color: #fff;}
.intro.top.escape .section-wrap {z-index:-1;}
.intro.top.escape .section-wrap .text{visibility: hidden;}
.intro.second.escape .section-wrap{position:static; animation-fill-mode: forwards;}

@media all and (min-width:769px) and (max-width:1320px) {
	.intro .section-wrap{height: 181px;}
}

@-webkit-keyframes textescape {
	0%  {padding-top:0;}
	100%{padding-top:189px;}
}
@keyframes textescape {
	0%  {padding-top:0;}
	100%{padding-top:189px;}
} */



/* services */
/* .services ul {display: flex; flex-wrap: wrap;} */
.services {padding-top: 70px;}
.services ul li {width: 50%; position: relative; float: left;}
.services ul li img {width: 100%;}
.services ul li p {font-size: 23px; position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); margin: 0;}
.services ul .right {float: right;}
.services ul #text { padding-bottom: 100px; padding-left: 6.6%;}
.services ul #text h3 {font-size: 50px; line-height: 42px; padding-top: 36.2666vw; margin: 0; font-style: italic;}
.services ul #text p {font-size: 13px; position: unset; transform: translate(0,0); line-height: 20px; padding-top: 14px;}

/* works */
.works {padding-top: 90px; clear: both;}
.works .works_box {padding: 0 30px;}
.works h3 {font-size: 50px; padding-bottom: 35px; margin: 0;}
.works ul li {margin-bottom: 67px;}
.works ul li .thumb {width: 100%; overflow: hidden;}
.works ul li img {width: 100%; transition: transform .5s;}
.works ul li a:hover img {transform:scale(1.1);
    transition: transform .7s;}
.works ul li a > p {color: #000; margin: 0; padding-top: 11px; font-size: 15px; font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif';}
.works ul li .text {padding:96px 0 33px}
.works ul li .text h4 {color: #000;text-align: center; margin: 0; font-size: 43px; font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif';}
.works ul li .text p {text-align: center;color: #000; margin: 0; padding-top: 11px; font-size: 15px; font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif';}
.works .view_more {padding-bottom: 140px;}
.works .view_more a {width: fit-content; margin: 0 auto;}
.works .view_more p {text-align: center; font-size: 24px; color: #000; font-style: italic; margin: 0;}
.works .view_more em {font-style: normal; font-size: 30px;}

/* partners */
.partners {padding: 70px 0 80px; background-color: #fafafa;}
.partners_box {padding: 0 30px;}
.partners_box ul {display: flex; flex-wrap: wrap;}
.partners_box li {width: 50%; margin-top: 20px; height: 37px;}
.partners_box li:nth-of-type(1),.partners_box li:nth-of-type(2) {margin-top: 0;}
.partners_box li img {display: block; height: 100%; margin: 0 auto;}

/* inside */
.inside {height: 570px; background: url(images/bg_section.jpg) no-repeat; background-size: cover; margin-bottom: 438px;}
.inside_box {padding: 0 30px;}
.inside_box h3 {padding-top: 95px; font-size: 40px; margin: 0;}
.inside_box .text {padding-top: 40px;}
.inside_box .text li {padding-top: 29px;}
.inside_box .text li:nth-of-type(1) {padding-top: 0px;}
.inside_box .text li a {display: flex; justify-content: space-between; align-items: center; border-bottom: 2px solid #000; }
.inside_box .text li p {color: #000; font-size: 16px; margin: 0; line-height: 38px; font-family: 'Noto Sans KR', sans-serif; font-weight: bold;}
.inside_box .text li img {width: 24px; height: 17px;}
.inside_box .view_more {padding-top: 31px;}
.inside_box .view_more a {width: fit-content;}
.inside_box .view_more p {color: #000; font-size: 20px; margin: 0;}

/* footer */
.footer_box .opacity {opacity: 1;}
.footer_box {overflow: hidden; width: 100%; height: 438px; display: flex; justify-content: center; align-items: center;position: fixed; bottom: 0; z-index: 0;}
/*  position: fixed; bottom: 0; z-index: 0; background: 0 none; height: 438px;  */
.footer_box ul a {width: fit-content; margin: 0 auto; color: #000; font-size: 32px; line-height: 60px; font-style: italic; text-align: center; position: relative; padding: 0 10px;opacity: 0;}
.footer_box ul a::before {content: ""; width:0%; height: 4px; transition: 0.3s; position: absolute; top:50%; left:0; transform: translate(0,-10%); background-color: #ffde00; }
.footer_box ul a:hover::before {width: 100%;}


/* pc버전 */
@media (min-width:1024px){
    .pc {display: inline-block;}
    .mobile {display: none;}

    .border_box {border: 40px solid #fff; position: absolute; top: 0; left: 0; width: 100%; height: 100%; border-bottom: 0; z-index: 5; display: block; box-sizing: border-box; transition:  all 300ms ease-in-out;}
    .border_box.hov{border: none; z-index: -1; transition:  all 300ms ease-in-out;}

    /* header */
    header .logo {top: 88px; left: 72px; z-index: 99;}
    header .logo a img {width: 79px}
    header .menu_btn {padding: 13px 42px 18px 0;top: 72px; right: 88px;}
    header .menu_btn span,header .menu_btn span::before, header .menu_btn span::after {width: 42px; height: 5px;}
    header .menu_btn span::before {top: -13px;}
    header .menu_btn span::after {bottom: -13px;}
    header .active span::before {top:0}

    header nav {border: #ffde00 solid 40px; animation: navBorder 0.8s ease;}
    @keyframes navBorder {
        0% {border-width: 0px;}
        100% {border-width: 40px;}
    }
    header nav .menu {width: 100%; left: 0; transform: translate(0,-50%); text-align: center;}
    header nav .menu li {width: 100%; }
    header nav .menu li a {width:300px; margin: 0 auto; font-size: 68px; line-height: 100px;}
    header nav .link {bottom: 13.473%; left: 124px;}
    header nav .link li a {font-size: 18px; line-height: 27px;}
    header nav .link li a img {width: 12px;margin-left: 8px;}
    header nav p { bottom: 14.2%; left: 0; right: 0; font-size: 14px; text-align: center;}

    /* fix_bar */
    .fix_bar {padding: 0 88px;}
    .fix_bar .line {width: calc( 100% - 102px );}
    /*  calc( 100% - 102px ); */
    .fix_bar .brochure {display: block;}

    /* intro */
    .intro.top {width: 100%; background-color: #000;}
    .intro.top .intro_box {height: 100%; display: flex; justify-content: center; align-items: center;}
    .intro.top video {width: 100%;}
    .intro.top .section-wrap {height: 326px;} 
    .intro.top .section-wrap .text {padding: 0 88px;}
    .intro.top .section-wrap .text p {font-size: 144px; letter-spacing: normal;line-height: 130px;}

    /* second */
    .second {min-height: 500px;}
    .second .section-wrap { height: 326px;min-height: 1000px;}
    .section-wrap .text {padding: 0 88px;}
    .section-wrap .text p {font-size: 144px; letter-spacing: normal;line-height: 130px;}
    .section-wrap .text .yellow {margin-top: 18px;}
    .section-wrap .message-wrap p {height: 130px;}

    /* services */
    /* .services ul {display: flex; flex-wrap: wrap;} */
    .services {padding-top: 0px;}
    .services ul {padding: 0 88px}
    .services ul li {width: 33.333%;}
    .services ul li p {font-size: 52px;}
    .services ul .right {float: left;}
    .services ul #text { width:66.666%; padding-bottom: 0; padding-left: 88px;}
    .services ul #text h3 {font-size: 80px; line-height: 1; padding-top: 9.79166vw;}
    .services ul #text p {font-size: 26px; line-height: 40px; letter-spacing: -.5px; padding-top: 4px;}

    /* works */
    .works {padding-top: 249px;}
    .works .works_box {padding: 0 88px 184px; margin: 0 60px;}
    .works h3 {font-size: 80px; font-style: italic; padding-bottom: 0;}
    .work ul {margin-left: -88px;}
    .works ul li {margin-top: 45px; margin-bottom: 175px; padding: 0 88px; position: relative; float: left; width: 50%;}
    .works ul li a > p { padding-top: 0; font-size: 24px; position: absolute; right: 60px; bottom: -30px; line-height: 1.1; transform: rotate(90deg); transform-origin: 100% 100%;}
    .works ul .full {float: none; clear: both; width: 100%;}
    .works ul .full a {display: flex;}
    .works ul .full a div {width: 50%;}
    .works ul li .text {padding:0; padding-left: 88px; display: flex; justify-content: center; align-items: center; flex-direction: column;}
    .works ul li .text h4 {font-size: 4.6875vw; line-height: 5.20833vw;}
    .works ul li .text p { padding-top: 53px; font-size: 24px;}
    .works .view_more {padding-bottom: 0; margin-top: -45px; padding-left: 120px;}
    .works .view_more a {width: fit-content; margin: 0;}
    .works .view_more p {font-size: 40px;}
    .works .view_more em {font-style: normal; font-size: 50px;}

    /* partners */
    .partners {padding: 130px 0 198px;}
    .partners_box {padding: 0 88px;}
    .partners_box li {width: 33.3333%; margin-top: 70px; height: 74px;}
    .partners_box li:nth-of-type(1),.partners_box li:nth-of-type(2) {margin-top: 70px;}

    /* inside */
    .inside {height: 963px; margin-bottom: 671px;}
    .inside_box {padding: 0 88px; display: flex;}
    .inside_box h3 {padding-top: 190px; padding-right: 110px; font-size: 80px; margin: 0;font-style: italic;}
    .inside_box .text {padding-top: 210px; width: 616px;}
    .inside_box .text li {padding-top: 34px;}
    .inside_box .text li a {border-bottom: 4px solid #000; }
    .inside_box .text li p {color: #000; font-size: 20px; margin: 0; line-height: 81px;}
    .inside_box .text li img {width: 48px; height: 33px;}
    .inside_box .view_more {padding-top: 54px;}
    .inside_box .view_more p {font-size: 22px;}

    /* footer */
    .footer_box {height: 671px; padding: 0 88px; display: flex; justify-content: center; align-items: center;position: fixed; bottom: 0; z-index: 0;}
    /*  position: fixed; bottom: 0; z-index: 0; background: 0 none; height: 438px;  */
    .footer_box ul {display: flex; width: 100%;}
    .footer_box ul li {width: 25%;}
    .footer_box ul a {font-size: 50px; line-height: 1; font-style: normal; font-weight: normal; }

}